.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Ubuntu Mono', monospace;
    padding-bottom: 20px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    p {
        padding-bottom: 10px;
    }
}

.footer:hover {
    color: aqua;
    transition: all 0.5s ease-in-out;
}