.verticalLinks {
    left: 20px;
    right: auto;
    bottom: 0px;
    position: fixed;
    font-size: 30px;
}

.verticalList {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: white;
    cursor: ne-resize;
    i:hover {
        color: #1a83FF;
    }
}

.verticalList::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: white;
}

.verticalList li {
    padding: 10px;
}

#verticalHover {
    transition: transform 0.5s ease-in-out;
    transform: translateY(0px);
}

#verticalHover:hover {
    transform: translateY(-5px);
}