@import "./styles/NavBar";
@import "./styles/Console";
@import "./styles/NavBar";
@import "./styles/Projects";
@import "./styles/ProjectSections";
@import "./styles/About";
@import "./styles/Gallery";
@import "./styles/GalleryItem";
@import "./styles/Footer";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffae8c;
    overflow-x: hidden;
    animation: transitionIn 3s;
}

html {
    scroll-behavior: smooth;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateY(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0);
    }
}